
.header{
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 100;
    &_wrp{
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        align-items: flex-start;
    }
    &_izq{
        display: flex;
        &_logo{      
            svg{
                height: 26px;
                width: 160px;
                margin-top: 2px;
            }
        }
        &_idioma{
            margin-left: 24px;
            font-size: 15px;
            font-weight: 500;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
            background-color: none;
            p{
                color: white;
                font-size: 15px;
            }
            &_principal{
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                &:hover{
                    p{
                        color: $celeste-hover !important;
                    }
                }
                p{
                    color: white;
                }
                svg{
                    margin-left: 7px;
                }
            }
            &_aux{
                display: none;
                p{
                    color: black;
                    margin-bottom: 5px;
                    font-size: 15px;

                    &:hover{
                        color: $celeste-hover;
                    }
                }
            }
        }
    }
    &_der{
        display: flex;
        align-items: center;
        &_buscador{
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 20px;
            border: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 24px;
            display: none;
            path{
                fill:white;
            }
            &_input{
                display: none;
                color: white;
            }
        }
        &_campus{
            display: none;
            font-size: 15px; 
            font-weight: 500;
            color: white;
            padding: 5px 18px;
            text-decoration: none;
            border: 1px solid white;
            border-radius: 20px;
            margin-left: 24px;
            span{
                margin: 0 3px;
                display: none;
            }
            &:hover{
                background-color: #0072CE;
                border: 1px solid transparent;
                color: white;
            }
        }
        &_hamburguesa{
            padding: 10px;
            margin-left: 24px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &_linea{
                width: 18px;
                height: 2px;
                background-color: white;
                margin-bottom: 3px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &:hover{
                background-color: #0072CE;
                border: none;
                .header_der_hamburguesa_linea{
                    background-color: white;
                }
            }

        }

    }
}

.header_sticky{
        height: 55px;
        align-items: center;
        opacity: 90%;
        width: 100%;
        position: fixed;
        z-index: 100;
        background-color: white;
        backdrop-filter: blur(30px);
        transform: translateY(-100%);
        transition-duration:300ms;
        &_wrp{
            display: block;
            padding: 10px 20px 0;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
            
        }
        &_top{
            padding-bottom: 0px;
            padding: 10px 20px;
            margin-bottom: 16px;
            position: fixed;
            background-color: white;
            z-index: 105;
            opacity: 95%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 55px;
            &_wrp{
                max-width: 1248px;
                margin: 0 auto;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
        }
        &_bottom{
            width: 100%;
            background-color: white;
            opacity: 100%;
            position: fixed;
            top: 54px;
            z-index: 100;
            border-bottom: 1px solid #F3F3F3;
            height: 44px;
            padding: 13px 20px;

            &_wrp{
                display: flex;
                overflow: scroll;
                gap: 25px;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
            a{
                height: 18px;
                flex-shrink: 0;
                font-size: 14px;
                color: black;
                text-decoration: none;
                &:hover{
                    color: #0072CE;
                }
            }
        }
        &_izq{
            display: flex;
            &_logo{
                svg{
                    margin-top: 5px;
                    height: 24px;
                    width: 150px;
                    #Trazado_8080{
                        fill: #FF6720;
                    }
                    #Rectángulo_56445{
                        fill: black;
                    }
                    #Rectángulo_56446{
                        fill: black;
                    }
                    #Trazado_8081{
                        fill: #0072CE;
                    }
                    #Trazado_8082{
                        fill: black;
                    }
                    #Trazado_8083{
                        fill: black;
                    }
                    #Trazado_8084{
                        fill: black;
                    }
                    #Trazado_8085{
                        fill: black;
                    }
                    #Trazado_8086{
                        fill: black;
                    }
                    #Trazado_8087{
                        fill: black;
                    }
                    #Trazado_8088{
                        fill: black;
                    }
                    #Trazado_8089{
                        fill: black;
                    }
                    #Trazado_8090{
                        fill: black;
                    }
                    #Trazado_8091{
                        fill: black;
                    }
                    #Trazado_8092{
                        fill: black;
                    }
                    #Trazado_8093{
                        fill: black;
                    }
                }
            }
            &_idioma{
                margin-left: 20px;
                font-size: 15px;
                font-weight: 500;
                padding: 5px;
                cursor: pointer;
                position: absolute;
                left: 107px;
                &_principal{
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    p{
                        color: black;
                        font-size: 15px;
                        &:hover{
                            color: $celeste_hover !important;
                        }
                    }
                    svg{
                        margin-left: 7px;
                    }
                }
                &_aux{
                    display: none;
                    p{
                        color: black;
                        margin-bottom: 5px;
                        font-size: 15px;

                        &:hover{
                            color: $celeste_hover !important;
                        }
                    }
                }
            }

        }
        &_der{
            align-items: flex-start;
            display: flex;
            &_buscador{
                width: 40px;
                height: 40px;
                padding: 10px;
                border-radius: 20px;
                border: 1px solid #0072CE;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;
                path{
                    fill: #0072CE;
                }
                &_input{
                    display: none;
                }

            }
            &_campus{
                font-size: 15px;
                font-weight: 500;
                padding: 5px 18px;
                text-decoration: none;
                border: 1px solid #0072CE;
                border-radius: 20px;
                color: #0072CE;
                font-weight: 500;
                margin-right: 24px;
                display: none;
                span{
                    margin: 0 3px;
                    display: none;
                }
                &:hover{
                    border: 1px solid transparent;
                    background-color: #0072CE;
                    color: white;
                }
            }
            &_hamburguesa{
                width: 40px;
                height: 40px;
                border-radius: 20px;
                border: 1px solid transparent;
                margin-top: -5px;
                margin-right: 0px;
                margin-left: 24px;
                margin-top: -2px;
                padding: 10px 10px  10px 10px;
                border: none;
                cursor: pointer;
                border-radius: 20px;
                border: 1px solid #0072CE;
                &_linea{
                    width: 18px;
                    height: 2px;
                    background-color: #0072CE;
                    margin-bottom: 3px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                &:hover{
                    background-color: #0072CE;
                    .header_sticky_der_hamburguesa_linea{
                        background-color: white;
                    }
                }
            }
        }

    }

.escuelas_tecnicas .header_sticky,.ficha_curso .header_sticky, .nuestro_equipo .header_sticky, .nota .header_sticky, .especialidades .header_sticky, .proceso_de_admision .header_sticky, .practicas_profesionalizantes .header_sticky, .cursos_de_formacion_profesional .header_sticky, .preguntas_frecuentes_page .header_sticky, .terminos_y_condiciones .header_sticky, .resultados_de_busqueda .header_sticky,  .resultados_de_busqueda_con_buscador .header_sticky, .resultados_de_busqueda_con_buscador_error .header_sticky, .contacto .header_sticky{
    transform: translateY(0%);
    opacity: 100%;
    &_top{
        opacity: 100%;
    }
}

@media only screen and (min-width: 1024px){


    .header{
        height: auto;
        padding: 40px  50px;
        border: none;
        &_wrp{
            max-width: 1248px;
            padding-left: 0;
            padding-right: 0;
        }
        &_izq{
            &_logo{
                svg{
                    width: 366px;
                    height: auto;
                }
            }
            &_idioma{
                margin-left: 32px;
            }
        }
        &_der{
            align-items: flex-start;
            &_buscador{
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                cursor: pointer;
                transition: width .5s ease;
                &:hover{
                    border: 1px solid #0072CE;
                    background-color: #0072CE;
                    width: 260px;
                    padding: 10px 20px;
                        path{
                            fill: white;
                        }

                    .header_der_buscador_input{
                        display: flex;
                        background-color: #0072CE;
                        border: none;
                        width: 90%;
                        font-size: 16px;
                        &::placeholder{
                            color: white;
                        }
                    }
                }
                button{
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }
            }
            &_campus{
                
                padding: 8px 20px;
                height: fit-content;
                min-height: 40px;
                display: flex;
                align-items: center;
                span{
                    display: initial;
                }
            }
            &_hamburguesa{
                border: 1px solid white;
                border-radius: 30px;
                width: 40px;
                height: 40px;
                &_linea{
                    background-color: white;
                }
            }
        }
    }

    .header_sticky{
            height: 75px;
            &_wrp{
                max-width: 1248px;
                padding-left: 0;
                padding-right: 0;
                align-items: flex-start;
            }
            &_izq{
                &_logo{
                    svg{
                        width: 195px;
                        height: 32px;
                    }
                }
                &_idioma{
                    left: 0;
                    position: relative;
                    height: max-content;
                    margin-left: 32px;

                }
            }
            &_top{
                padding: 15px 50px;
                height: 75px;
            }
            &_bottom{
                top: 74px;
                padding: 13px 50px;
                background-color: #E4E5DC;
                opacity: 96%;
                &_wrp{
                    max-width: 1250px;
                    margin: 0 auto;
                    width: 100%;
                    gap: 50px;
                }
            }
            &_der{
                &_buscador{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    cursor: pointer;
                    transition: width .5s ease;
                    &:hover{
                        border: 1px solid #0072CE;
                        background-color: #0072CE;
                        width: 260px;
                            path{
                                fill: white;
                            }
                        .header_der_buscador_input{
                            display: flex;
                            background-color: #0072CE;
                            border: none;
                            width: 90%;
                            font-size: 16px;
                            color: white;
                            &::placeholder{
                                color: white;
                            }
                        }
                    }
                    button{
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                    }
                }
                &_campus{
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    display: flex;
                    span{
                        display: initial;
                    }
                }
                &_hamburguesa{
                    margin-top: 0;
                    border: 1px solid white;
                    border-radius: 30px;
                    width: 40px;
                    height: 40px;
                    &_linea{
                        background-color: #0072CE;
                    }
                }
            }
    }



}

@media only screen and (min-width: 1350px){
.header_sticky{
    &_bottom{
        &_wrp{
            padding-left: 0;
        }
    }
}
}