.modulo_cita_nota{
    background-color: #0072CE;
    margin: 0 -20px 30px;
    padding: 60px 30px;
    height: auto;
    p{
        color: white;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
    }
}

@media only screen and (min-width: 1024px){

    .modulo_cita_nota{
        height: 300px;
        width: 750px;
        margin-left: 75px;
        height: 215px;
        border-radius: 4px;
    }

}
