.modulo4{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto 70px;
    padding: 20px 0;
    position: relative;
    #propuesta_educativa, #profesionales, #equipos, #articulos, #fechas_importantes{
        position: absolute;
        top: -70px;
    }
    &_top{
        margin-bottom: 30px;
        h2{
            padding-top: 5px;
            font-size: 18px;
            padding-left: 20px;
        }
        &_input{
            &_option{
                padding: 20px;
            }
        }
    }
    &_card{
        width: 100%;
        max-width: 320px;
        &_picture{
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            img{
                width: 100%;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
            }
        }
        &:nth-child(3n+1){
            .modulo4_card_info_rank{
                background-color: #0072CE;
            }
        }
        &:nth-child(3n+2){
            .modulo4_card_info_rank{
                background-color: #FF6720;
            }
        }
        &:nth-child(3n+3){
            .modulo4_card_info_rank{
                background-color: #F93822;
            }
        }
        &_info{
            z-index: 10;
            padding: 0 17px;
            position: relative;
            height: 250px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-bottom: 30px;
            box-shadow: 2px 8px 9px 1px #f1f1f1;      
            &_volanta{
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                color: white;
                background-color: #0072CE;
                width: fit-content;
                max-width: 256px;
                padding: 5px 15px;
                border-radius: 4px;
                position: absolute;
                top: -40px;
                left:22px
            }
            &_rank{
                margin-top: -40px;
                width: 60px;
                height: 60px;
                /*background-color: #0072CE;*/
                color: white;
                font-size: 40px;
                border-radius: 4px;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                font-weight: 700;
                align-items: center;
            }
            &_title{
                font-size: 20px;
                font-weight: 500;
                color: #0072CE;
                margin-bottom: 10px;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp:2;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
            }
            &_txt{
                font-size: 16px;
                line-height: 22px;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp:4;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 90px;

            }
            &_ver_mas{
                display: none;
            }
        }
        &_contacto{
            display: flex;
            width: 90px;
            height: 32px;
            justify-content: space-between;
            align-items: center;
            &_uncontacto{
                width: 32px;
                height: 32px;
                background-color: #F1F1F1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: 1px solid #E7E7E7;
                padding-top: 4px;
            }
        }
    }
}

.modulo4.articulo{
    padding-top: 0;
    .modulo4_card{
        &:nth-child(odd){
            .modulo4_card_info{
                background-color: #FF6720;
            }
        }
        &:nth-child(even){
            .modulo4_card_info{
                background-color: #F93822;
            }
        }
        &_info_rank{
            display: none;
        }
        &_picture{
            width: 320px;
            height: 213px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &_info{
            padding: 22px;
            height: 236px;

            &_title{
                line-height: 24px;
                color: white;
            }
            &_txt{
                color: white;
                height: 130px;
                -webkit-line-clamp: 6;
            }
        }
    }
}

.modulo4.profesionales{
    width: 100%;
    max-width: none;
    margin-bottom: 70px;
    .modulo4_wrp{
        max-width: 1250px;
    }
    .modulo4_top{
        &_input{
            width: 285px;
            height: 50px;
            background-color: white;
            padding: 10px 20px;
            margin: 30px 0px 0;
            border-radius: 4px;
            border: 1px solid #aaaaaa;
            background-image: url(../img/arrow.png); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
            background-repeat: no-repeat;
            background-position: right center;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
            &::-ms-expand {
                display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
            }
            &_wrp{
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0 20px;
            }
        }
    }
    .modulo4_card{
        max-width: 240px;
        box-shadow: 2px 8px 9px 1px #f1f1f1;
        &_picture{
            width: 240px;
            height: 220px;
        }
        &_info{
            padding: 16px 20px;
            height: 200px;
            &_title{
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
            }
            &_txt{
                height: 56px;
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 15px;
            }
        }
    }
}

.modulo4.profesionales.alternativo{
    background-color: #F1F1F1; 
    width: 100%;
    max-width: none;
    margin-bottom: 70px;
    .modulo4_wrp{
        max-width: 1250px;
    }
    .modulo4_top{
        &_input{
            width: 285px;
            height: 50px;
            background-color: white;
            padding: 10px 20px;
            margin: 30px 0px 0;
            &_wrp{
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0 20px;
            }
        }
    }
    .modulo4_card{
        max-width: 240px;
        box-shadow: 2px 8px 9px 1px #f1f1f1;
        &_picture{
            width: 240px;
            height: 220px;
        }
        &_info{
            padding: 16px 20px;
            height: 200px;
            background-color: white;
        
            &_title{
                font-size: 18px;
                line-height: 22px;
                color: #FF6720;
                font-weight: 600;
            }
            &_txt{
                height: 56px;
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 15px;
            }
        }
    }
}

.modulo4.calendario{
    background-color:#F2F2F2;
    max-width: initial;
    margin-bottom: 50px;
    .modulo4{
        &_top{
            h2{
                padding: 0;
            }
        }
        &_wrp{
            max-width: 1250px;
            margin: 0 auto;
            padding: 0 20px;
            
        }
        &_card{
            height: 360px;
            width: 285px;
            &_top{
                height: 136px;
                padding: 18px;
                letter-spacing: -1px;
                border-radius: 8px 8px 0 0;
                &.evento1{
                    background-color: #FF6720;
                }
                &.evento2{
                    background-color: #0072CE;
                }
                &.evento3{
                    background-color: #F93822;
                }
                h2{
                    font-size: 24px;
                    color: white;
                    font-weight: 500;
                }
                &_logo{
                    &_circulo{
                        margin-left: -13px;
                    }
                }
                &_generico{
                    height: 22px;
                    width: 24.22px;
                }
            }
            &_info{
                background-color: white;
                padding: 25px 20px;
                &_title{
                   font-size: 20px;
                   line-height: 22px; 
                   font-weight: 600;
                   border-radius: 0 0 8px 8px;
                }
                &_txt{
                    font-size: 16px;
                    line-height: 24px;
                    color: #6F6F6F;
                }
            }
        }
    }
}

.modulo4.cursos{
    background-color:#F2F2F2;
    max-width: initial;
    margin-bottom: 50px;
    padding: 50px 0 30px;
    .modulo4{
        &_top{
            h2{
                padding: 0;
            }
        }
        &_wrp{
            max-width: 1250px;
            margin: 0 auto;
            padding: 0 20px;
        }
        &_card{
            height: 360px;
            width: 285px;
            &_top{
                height: 136px;
                padding: 18px;
                letter-spacing: -1px;
                border-radius: 8px 8px 0 0;
                &.evento1{
                    background-color: #FF6720;
                }
                &.evento2{
                    background-color: #0072CE;
                }
                &.evento3{
                    background-color: #F93822;
                }
                h2{
                    font-size: 24px;
                    color: white;
                    font-weight: 500;
                }
                &_logo{
                    &_circulo{
                        margin-left: -13px;
                    }
                }
                &_generico{
                    height: 22px;
                    width: 24.22px;
                }
            }
            &_info{
                background-color: white;
                padding: 25px 20px;
                &_title{
                   font-size: 20px;
                   line-height: 22px; 
                   font-weight: 600;
                   border-radius: 0 0 8px 8px;
                }
                &_txt{
                    font-size: 16px;
                    line-height: 24px;
                    color: #6F6F6F;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px){
    .modulo4{
        padding: 70px 0;
        margin-bottom: 100px;
        &_top{
            h2{
                font-size: 24px;
                padding-left: 50px;
            }
        }
        #propuesta_educativa, #profesionales, #equipos, #articulos, #fechas_importantes{
            position: absolute;
            top: -100px;
        }
        &_card{
            max-width: 400px;
            &_picture{
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                img{
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
            }
            &_info{
                height: 280px;
                &_title{
                   font-size: 24px; 
                   font-weight: 600;
                }
                &_txt{
                    -webkit-line-clamp:3;
                }
                &_ver_mas{
                    display: flex;
                    width: 115px;
                    height: 32px;
                    color: white;
                    font-size: 16px;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 16px;
                    margin-top: 30px;
                    text-transform: uppercase;
                    text-decoration: none;
                    gap: 8px;
                    font-size: 14px;
                    span{
                        font-size: 24px;
                        margin-top: -5px;
                    }
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }

    .escuelas_tecnicas .modulo4{
        padding: 0;
    }

    .modulo4.articulo{
        padding: 60px 0 40px;
        background-color: #F1F1F1;
        max-width: none;
        margin-bottom: 50px;
        .modulo4_top{
            margin-bottom: -40px;
        }
        .modulo4_wrp{
            max-width: 1250px;
        }
        .modulo4_card{
            display: flex;
            height: 300px;
            width: 820px;
            max-width: none;
            &_picture{
                flex-shrink: 0;
                width: 450px;
                height: 300px;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                img{
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }
            &_info{
                width: 370px;
                flex-shrink: 0;
                height: 300px;
                padding: 40px 30px;
                border-bottom-left-radius: 0;
                border-top-right-radius: 10px;
                &_title{
                    font-size: 22px;
                    line-height: 28px;
                }
                &_txt{
                    font-size: 16px;
                    line-height: 20px;
                    height: 100px;
                    -webkit-line-clamp: 5;
                }
                &_volanta{
                    top: 15px;
                    left: -435px;
                }
            }
        }
    }

    .modulo4.profesionales,.modulo4.profesionales.alternativo{
        margin-bottom: 100px;
        .modulo4_top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_input{
                margin-top: 0;
                option{
                    &::marker{
                        display: none;
                    }
                }
                &_wrp{
                    width: fit-content;
                }
            }
        }
    }

    .modulo4.cursos{
        padding: 70px 50px 70px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1350px){
    .modulo4{
        &_top{
            h2{
                padding-left: 0px;
            }

        }
    }
}