.modulo2{
    width: 100%;
    position: relative;
    #valores{
        position: absolute;
        top: -150px;
    }
    &_wrp{
        padding: 0 20px;
        height: auto;
    }
    &_izq{
        display: flex;
        justify-content: center;
        background: rgb(249,56,34); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(249,56,34,1) 0%, rgba(249,56,34,1) 69%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(249,56,34,1) 0%,rgba(249,56,34,1) 69%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(249,56,34,1) 0%,rgba(249,56,34,1) 69%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        img{
            width: 260px;
            height: 260px;
            margin-bottom: 20px;
            margin-top: 30px;
        }
    }
    &_der{
        h3{
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
        }
        &_puntos{
            &_punto{
                border-bottom: 1px solid #F2F2F2;
                padding-bottom: 20px;
                margin-bottom: 30px;
                display: flex;
                &_dec{
                    background-color: #FF6720;
                    flex-shrink: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    margin-right: 15px;
                    margin-top: 5px;
                }
                &_txt{
                    h4{
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    p{
                        color: black;
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 1024px){

    .modulo2{
        position: relative;
        margin-bottom: 100px;
        &_background{
            background: rgb(249,56,34); /* Old browsers */
            background: -moz-linear-gradient(left, rgba(249,56,34,1) 0%, rgba(249,56,34,1) 35%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(249,56,34,1) 0%,rgba(249,56,34,1) 35%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(249,56,34,1) 0%,rgba(249,56,34,1) 35%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
            height: 620px;
            position: absolute;
            top: 0px;
            width: 100%;
        }
        &_wrp{
            position: relative;
            z-index: 10;
            width: 100%;
            max-width: 1250px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            padding: 0 50px;  
        }
        &_izq{ 
            background:none;
            img{
                margin-top: 83px;
                width: 456px;
                height: 456px;
            }
        }
        &_der{
            width: 100%;
            max-width: 620px;
            h3{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 28px;
            }
            p{
                line-height: 28px;
                margin-bottom: 15px;

            }
            &_puntos{
                &_punto{
                    padding-bottom: 0;
                    align-items: flex-start;
                    margin-bottom: 30px;
                    &_dec{
                        width: 12px;
                        height: 12px;
                        border-radius: 6px;
                        margin-right: 20px;
                        margin-top: 7px;
                    }
                    &_txt{
                       h4{
                        font-size: 20px;
                        margin-bottom: 0px;
                       } 
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px){
    .modulo2{
        &_wrp{
            padding: 0;
        }
    }

}